<link rel="stylesheet" href="./css/styles.css">
<body>
    <div class="one">
        <h2>About Website Working</h2>
        {{>header}}
        <p>This site is for weather forecasting purpose which takes geocodes os location as input and returns weather at that location.</p>
        {{>footer}}
    </div>
    
</body>