<body>
    <link rel="stylesheet" href="./css/styles.css">
    <div class="one">
        {{>header}}
        <p>This is the help page where u can find the solutions for various errors that can be triggered.</p>
    </div>
    {{>footer}}
</body>
