<!DOCTYPE html>
<html>
    <head>
        <title>Weather Forecasting</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/clientside.js"></script>
    </head>
    <body>
        <div class="one">
            <h1>Weather</h1>
            {{>header}}
            <br>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
        </div>
        {{>footer}}
    </body>
    
</html>